<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19957450961-8rr4b7p5t5nvenu0qho563mpc1ak54ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19957450961-8rr4b7p5t5nvenu0qho563mpc1ak54ue</string>
	<key>API_KEY</key>
	<string>AIzaSyBNTG6ZWN__d1uk_VGGwrvigFL1Xz9fL_o</string>
	<key>GCM_SENDER_ID</key>
	<string>19957450961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mani.Limit</string>
	<key>PROJECT_ID</key>
	<string>limit-7f8f9</string>
	<key>STORAGE_BUCKET</key>
	<string>limit-7f8f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19957450961:ios:893683b7d12db25a</string>
	<key>DATABASE_URL</key>
	<string>https://limit-7f8f9.firebaseio.com</string>
</dict>
</plist>